body{
    background-color: rgb(216, 213, 213)
}
form{
    background-color: white
}

.error{
    background-color: pink

}

div {  
    box-sizing: border-box; 
    width: 100%; 
    border: 100px solid black; 
    float: left; 
    align-content: center; 
    align-items: center; 
}